
body {
  /* background-image: url("../images/background.jpg"); */
  padding: 0;
  margin: 0;
}


#topPart {
  background-color: #FFFEC4;
}

.container {
  background-color: #FFFEC4;
}

div {
  width: 100%;
}
