<!-- People: <input type="number" ng-model="numberOfGuests" ng-change="setNumberOfGuests(numberOfGuests)"/> -->

<!-- TODO in Lab 5: Display the items on the menu with cost for each -->

<!-- SideBarView, where we see our basket of selected dishes, their costs and the total cost -->
<div class="col-lg-4" id="sideBarView">
    <div class="aside" >
        <h1>My dinner</h1>

        <div>
    			<div class="someText">
    				Number of guests: <span id="numberOfGuests">{{getNumberOfGuests()}}</span>
    			</div>
    			<div>
              <button id="minusGuest" class="btn" ng-click="decreaseNumberOfGuests()"><span class="glyphicon glyphicon-minus"></span></button>
    				<button id="plusGuest" class="btn" ng-click="increaseNumberOfGuests()"><span class="glyphicon glyphicon-plus"></span></button>
    			</div>
    		</div>

        <div class="row nameAndCost">
            <div class="col-lg-6">
                <p>Dish name</p>
            </div>
            <div id="cost">
                <p>Cost</p>
            </div>
        </div>

        <div class="row nameAndCostEntries">
            <div class="nameAndCostEntry clearfix" id="{{dish.id}}Entry" ng-repeat="dish in menu" >
              <div class="col-lg-7">
                <p ng-click="markASelectedDish(dish.id, $event)">{{dish.title}}</p>
              </div>
              <div id="cost">
                <p ng-click="markASelectedDish(dish.id, $event)">{{getPrice(dish) | number: 2}} SEK</p>
              </div>
            </div>
        </div>

        <div class="row nameAndCostTotal">
            <div class="col-lg-6">
                <p>Total</p>
            </div>
            <div id="totalCost">
              <p>{{getTotalMenuPrice() | number: 2}} SEK</p>
            </div>
        </div>

        <div id="confirmDinnerButton">
            <button id="confirmDinner" class="btn" ng-click="removeMarkedFromMenu()">Remove dish</button>
            <a href="#!/overview"><button id="confirmDinner" class="btn">Confirm dinner</button></a>
			  </div>

    </div>
</div>
