<!-- IndexView, the home page -->
<div class="indexMain" id="indexView">
    <h1 id="title">A Home Dinner Service</h1>
    <p id="desc">Plan and carry out your dinner party using Chikako's Recipe. Pick your favorites from our selection of recipes and customize your dinner. Invite your friends and see their confirmation. See ingredients, cooking procedure and cost. Bon Appetite!</p>
    <div id="createDinnerButton">
        <a href="#/search"><button id="createDinner" class="btn" href="#/search">Create new dinner</button></a>
	  </div>
</div>
